.SendCalendar{
  margin-left: 10px;
  border-radius: 2px;
}

.percentageBar{
  margin-top: 20px;
}

input::-webkit-outer-spin-button,

  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

  }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;

  }